@font-face {
  font-family: "Climate Crisis";
  src: url("fonts/ClimateCrisis-Regular.woff2") format("woff2"),
    url("fonts/ClimateCrisis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Start CSS Reset - source: https://www.joshwcomeau.com/css/custom-css-reset/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.2;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* End CSS Reset */

/*  Declaration of custom properties*/

:root {
  --logo-color: rgb(238, 51, 38);
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.image-container {
  position: relative;
}

.image-container img {
  flex: 1 1 100%;
  justify-content: center;
  height: 100%;
  width: 500px;
  min-width: 500px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 33%;
  background-color: rgba(255, 255, 255, 0.795);
  font-family: "Climate Crisis";
  color: rgb(187, 47, 13);
  width: 100%;
  height: 100px;
  letter-spacing: 2px;
}

.container {
  flex: 1 1 auto;
  justify-content: center;
}

.header {
  padding: 10em 6em 1.2em 3em;
}

.header p {
  font-weight: 600;
  font-size: clamp(0.5rem, 5vw, 1.5rem);
}

.header p + p {
  margin: 1.2em 0 1.2em 0;
}

form {
  box-shadow: 1px 3px 10px 1px #bababade;
  width: 100%;
  padding: 1em 6em 2em 3em;
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 0;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  height: 2em;
  width: 14em;
}

input:focus {
  border-color: rgb(49, 49, 207);
  outline: none;
  box-shadow: 1px 1px 3px #bababa;
}

input:user-invalid {
  border-color: var(--logo-color);
  outline: none;
}

.inputs label {
  font-size: 0.7em;
}

.row-one,
.row-two,
.row-three {
  display: flex;
}

.first-name,
.second-name,
.email,
.phone-number,
.password,
.confirm-password {
  display: flex;
  flex-direction: column;
  margin: 1em 3em 0.5em 0em;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1em 6em 2em 3em;
}

.footer button {
  width: 200px;
  height: 50px;
  background-color: var(--logo-color);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #7c7c7c;
  margin: 1.4em 0 2em 0;
  font-size: 1em;
  font-weight: bold;
}

.footer button:hover {
  cursor: pointer;
}

.footer button:active {
  background-color: rgb(151, 43, 16);
}

.footer a {
  color: var(--logo-colo);
  text-decoration: none;
}
