@font-face {
    font-family: 'Climate Crisis';
    src: url('ClimateCrisis-Regular.woff2') format('woff2'),
        url('ClimateCrisis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

